@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EventEase.Models.AddVenueViewModel

<h1>Add Venue</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">VenueName</label>
        <input type="text" class="form-control" asp-for="VenueName" />
    </div>
    
    <div class="mt-3">
        <label class="form-label">Location</label>
        <input type="text" class="form-control" asp-for="Location" />
    </div>
    
    <div class="mt-3">
        <label class="form-label">Capacity</label>
        <input type="text" class="form-control" asp-for="Capacity" />
    </div>
    
    <div class="mt-3">
        <label class="form-label">ImageUrl</label>
        <input type="text" class="form-control" asp-for="ImageUrl" />
    </div>
    
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>