@model EventEase.Models.AddBookingViewModel

<h1>Reserve a booking</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">

    <div class="mt-3">
        <label class="form-label">Event</label>
        <select class="form-control" asp-for="EventID">
            <option value="">-- Select Event --</option>
            @foreach (var e in ViewBag.Events)
            {
                <option value="@e.EventId">@e.EventName</option>
            }
        </select>
    </div>

    <div class="mt-3">
        <label class="form-label">Venue</label>
        <select class="form-control" asp-for="VenueId">
            <option value="">-- Select Venue --</option>
            @foreach (var v in ViewBag.Venues)
            {
                <option value="@v.VenueId">@v.VenueName</option>
            }
        </select>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Book</button>
    </div>

</form>